{%extends 'order/html/admin_base.html' %}

{%block admin_body%}

  <div class="container-fluid border border-secondary">
      <div class="row p-4">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Image</th>
                      <th scope="col">Description</th>
                      <th scope="col">Updated</th>
                      <th scope="col">Created</th>
                      <th scope="col">Edit</th>
                    </tr>
                </thead>
                {%load order_templat%}
                  <tbody>
                      {%if products%}
                      {%for pr in products%}
                    <tr>
                        <th >{{pr.name}}</th>
                        <td >{{pr.price}}</td>
                        <td ><img src="/{%if 'media' not in pr.image%}media/{{pr.image}}{%else%}{{pr.image}}{%endif%}" style="width: 50px!important;height: 50px!important;" alt="{{pr.name}}"></td>
                        <td >{{pr.description|minimize_desc}}</td>
                        <td >{{pr.updated_at}}</td>
                        <td >{{pr.created_at}}</td>
                        <td ><a class="btn btn-success" href="{%url 'admin_product_update' pr.id %}">Edit</a></td>
                    </tr>
                        {%endfor%}
                        {%else%}
                    <tr>
                        <th colspan="7" class="text-center text-danger bg-light" ><h5>Sorry, No Product</h5></th>
                    </tr>
                        {%endif%}
                  </tbody>
            </table>
        </div>

      </div>
  </div>

{%endblock%}