{%extends 'order/common/base.html' %}

{%block body%}

  <div class="container-fluid bg-secondary">
      <div class="row p-4">
          
        <div class="card my-3 mx-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">&#x20B9; Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-warning" onclick="add_to_cart(event,id)">Add to cart</button>
            </div>
        </div>
        {%for item in products%}
        <div class="card my-3 mx-3" style="width: 18rem;">
            <img src="{{item.image}}" class="card-img-top" alt="{{item.name}}">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.description}}</p>
              <p class="card-text">&#x20B9; {{item.price}}</p>
              <button class="btn btn-warning" onclick="add_to_cart(event,'{{item.id}}')">Add to cart</button>
            </div>
        </div>
        {%endfor%}

      </div>
  </div>

  <script>
      function add_to_cart(eve){

      }

  </script>

{%endblock%}