{%extends 'order/common/base.html' %}

{%block body%}

  <div class="container-fluid bg-secondary">
      <div class="row p-4">
        {%if products %}
        {%for item in products%}
        <div class="card my-3 mx-3" style="width: 18rem;">
            <img class="pb-0 mb-0 card-img-top w-90 h-50" src="/{%if 'media' not in item.image%}media/{{item.image}}{%else%}{{item.image}}{%endif%}" alt="{{item.name}}">
            <div class="card-body pb-0">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.description}}</p>
              <p class="card-text">&#x20B9; {{item.price}}</p>
              <button class="btn btn-warning" onclick="add_to_cart(event,'{{item.id}}')">Add to cart</button>
            </div>
        </div>
        {%endfor%}
        {%else%}
        <div class="col-md-12 bg-light">
          <h5 class="text-danger text-center">Sorry, No Product</h5>
        </div>
        {%endif%}
      </div>
  </div>

  <script>
      function add_to_cart(eve){

      }

  </script>

{%endblock%}